{% extends 'public/base.html' %} {% block content %}
<div id="gtco-features">
  <div class="gtco-container">
    <div class="row">
      <input type="text">
      <button type="button">搜索</button>
    </div>
     <br>
    <div class="row">
      <div class="col-md-7 col-sm-6">
        {% load static %}
        <!--a href="#">{{title}}</a-->
        {% for a in all_sugars %}
        <div class="row">
          <a sugarid="{{a.id}}" class="sugar" href="{% url 'download' a.id %}">{{a.name}}</a>
        </div>
        {% endfor %}
      </div>
      <div class="col-md-5 col-sm-6">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title"></h3>
          </div>
          <div class="panel-body">
            <span id="result"></span>
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <!--form action="/add/" method="get">
    a: <input type="text" id="a" name="a"> <br> b: <input type="text" id="b" name="b"> <br>
    <p>result: <span id='result'></span></p>
    <button type="button" id='sum'>提交</button>
  </form-->
</div>
{% endblock %}