{% block users_content %}
<div id="login_or_logout" class="container" style="text-align:right">
    <!-- 按钮触发模态框 -->
    <a href='#' data-toggle='modal' data-target='#login_modal'>登录</a>
    <div class="row">

        <!-- 模态框（Modal） -->
        <div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="loginLabel">
                            登录
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input id="login_username" type="text" class="form-control input-lg" placeholder="请输入用户名">
                        </div>
                        <div class="form-group">
                            <input id="login_password" type="password" class="form-control input-lg" placeholder="请输入登陆密码">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- 按钮触发模态框 -->
                        <button class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#register_modal">
	注册
</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
                        <button id="login_ok" type="button" class="btn btn-primary">
					登录
				</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal -->
        </div>

    </div>

    <div class="row">
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="register_modal" tabindex="-1" role="dialog" aria-labelledby="registerLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
                        <h4 class="modal-title" id="registerLabel">
                            注册
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form action="" class="form col-md-12 center-block">
                            <div class="form-group">
                                <input id="register_username" class="form-control input-lg" placeholder="请输入用户名">
                            </div>
                            <div class="form-group">
                                <input id="register_password1" type="password" class="form-control input-lg" placeholder="请输入登陆密码">
                            </div>
                            <div class="form-group">
                                <input id="register_password2" type="password" class="form-control input-lg" placeholder="请再次输入密码">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
                        <button id="register_ok" type="button" class="btn btn-primary">
					注册
				</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal -->
        </div>
    </div>
</div>
{% endblock %} {% block users_script %}
<script>
    $(document).ready(function () {
        $.ajaxSetup({
            data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
        if ($.cookie("username") == null)
            ;//$("#login_or_logout").html("<a href='#' data-toggle='modal' data-target='#login_modal'>登录</a>");
        else {
            $("#login_or_logout").html("<a id='logout' href='#'>注销</a>");
        }

        

        $("#login_ok").click(function () {
            $.post("{% url 'login' %}",
                {
                    'username': $('#login_username').val(),
                    'password': $('#login_password').val(),
                },
                function (ret) {

                    if (ret != 'success')
                        alert(ret);
                    else {
                        alert('登录成功')

                        $("#login_modal").modal('toggle');
                    }
                });
        });

        $("#logout").click(function () {
            alert('注销成功');
            $.cookie('username', null, { expires: -1, path: '/' });
        });

        $("#register_ok").click(function () {
            if ($('#register_password1').val() != $('#register_password2').val())
                alert('两次输入密码不相同');
            $.post("{% url 'register' %}",
                {
                    'username': $('#register_username').val(),
                    'password': $('#register_password1').val(),
                },
                function (ret) {
                    if (ret != 'success')
                        alert(ret);
                    $("#register_modal").modal('hide');
                });
        });

    });

</script>
{% endblock %}