{% extends 'public/base.html' %} {% block highcharts.css %} {% load static %}
<!-- Highcharts  -->
<link rel="stylesheet" href="{% static 'css/highcharts.css' %}"> {% endblock %} {% block content %}
<div id="container"></div>
<div id="container2"></div>
{% endblock %} {% block highmaps.js %}
<!-- Highmaps -->
<!--script src="http://code.highcharts.com/maps/highmaps.js"></script-->
<script src="{% static 'js/highmaps.js' %}"></script>
{% endblock %} {% block script %}
<script>
    $(function () {

        // Initiate the chart
        $('#container').highcharts('Map', {
            title: {
                text: 'NTLY  106工房'
            },
            credits: {
                text: 'CELPEC.COM',
                href: 'http://www.celpec.com',
                position: {
                    align: 'right',
                    x: -100
                }
            },
            colorAxis: {
                minColor: '#efecf3',
                maxColor: '#990041',
                startOnTick: false,
                endOnTick: false,
                type: 'logarithmic'
            },
            tooltip: /*{
				pointFormatter: function () {
					//return 'x: ' + this.x + ', y: ' + this.y;
					//alert('<img src="{% static "images/img_1.jpg" %}">');
					return '<img src="{% static "images/img_1.jpg" %}">'
				}
			},*/
            {
                backgroundColor: '#FCFFC5',   // 背景颜色
                borderColor: 'black',         // 边框颜色
                borderRadius: 10,             // 边框圆角
                borderWidth: 3,               // 边框宽度
                shadow: true,                 // 是否显示阴影
                animation: true,               // 是否启用动画效果
                style: {                      // 文字内容相关样式
                    color: "#ff0000",
                    fontSize: "12px",
                    fontWeight: "blod",
                    fontFamily: "Courir new"
                },
                shared: true,
                useHTML: true,
                headerFormat: '<small>{point.key}</small><table>',
                pointFormat: '<img src="{% static "images/img_1.jpg" %}" width="200">',
                footerFormat: '</table>',
                valueDecimals: 2
            },
            series: [
                {
                    "type": "map",
                    "data": [
                        {
                            "name": "path4220",
                            "path": "M13,-513,43,-565L33,-601,39,-706,72,-738,100,-692,119,-743,110,-780,156,-832,196,-884,254,-868,291,-852,291,-828,318,-615,323,-403,230,-226,186,-217,147,-318,139,-413,44,-417,0,-472z"
                        },
                        {
                            "name": "path4222",
                            "path": "M292,-851,394,-978,614,-999,959,-859,1000,-798,866,-754,839,-673,750,-566,676,-488,790,-335,832,-224,797,-188,744,-217,677,-228,664,-211,643,-252,646,-288,683,-305,700,-335,653,-357C653,-357,633,-356,622,-359,612,-363,557,-406,557,-406L556,-440,554,-487,515,-499,459,-470,469,-417,400,-457,428,-508,378,-521,335,-461,320,-466"
                        }
                    ]
                },
                {
                    "type": "mapline",
                    "data": [
                        {
                            "name": "path4226",
                            "path": "M342,-471,320,-466"
                        },
                        {
                            "name": "path4228",
                            "path": "M304,-866,293,-851"
                        }
                    ]
                },
                {
                    "type": "mappoint",
                    "name": "Cities",
                    "marker": {
                        "fillColor": "white",
                        "lineColor": "black",
                        "lineWidth": 2,
                        "radius": 3
                    },
                    "data": [{
                        "name": "Liège",
                        "x": 51,
                        "y": -556
                    }, {
                        "name": "Brussels",
                        "x": 573,
                        "y": -556
                    }, {
                        "name": "Tournai",
                        "x": 427,
                        "y": -556
                    }, {
                        "name": "Mons",
                        "x": 506,
                        "y": -556
                    }, {
                        "name": "Namur",
                        "x": 645,
                        "y": -556
                    }, {
                        "name": "Charleroi",
                        "x": 573,
                        "y": -556
                    }, {
                        "name": "Arlon",
                        "x": 775,
                        "y": -556
                    }]
                }
            ]
        });
Highcharts.setOptions({
    global: {
        useUTC: false
    }
});
function activeLastPointToolip(chart) {
    var points = chart.series[0].points;
    chart.tooltip.refresh(points[points.length -1]);
}
$('#container2').highcharts({
    chart: {
        type: 'spline',
        animation: Highcharts.svg, // don't animate in old IE
        marginRight: 10,
        events: {
            load: function () {
                // set up the updating of the chart each second
                var series = this.series[0],
                    chart = this;
                setInterval(function () {
                    var x = (new Date()).getTime(), // current time
                        y = Math.random();
                    series.addPoint([x, y], true, true);
                    activeLastPointToolip(chart)
                }, 1000);
            }
        }
    },
    title: {
        text: '动态模拟实时数据'
    },
    xAxis: {
        type: 'datetime',
        tickPixelInterval: 150
    },
    yAxis: {
        title: {
            text: '值'
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
        }]
    },
    tooltip: {
        formatter: function () {
            return '<b>' + this.series.name + '</b><br/>' +
                Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                Highcharts.numberFormat(this.y, 2);
        }
    },
    legend: {
        enabled: false
    },
    exporting: {
        enabled: false
    },
    series: [{
        name: '随机数据',
        data: (function () {
            // generate an array of random data
            var data = [],
                time = (new Date()).getTime(),
                i;
            for (i = -19; i <= 0; i += 1) {
                data.push({
                    x: time + i * 1000,
                    y: Math.random()
                });
            }
            return data;
        }())
    }]
}, function(c) {
    activeLastPointToolip(c)
});

    });

</script>
{% endblock %}